langchain
langchain-core
langserve

langchain-ollama

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

langchain_groq

numpy
torch
python-dotenv
ipykernel
streamlit

fastapi
uvicorn
sse_starlette
pydantic