langchain
langchain-core
langchain-community
langsmith
langserve

langchain-ollama

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

langchain_groq

sentence-transformers
faiss-cpu

numpy
torch
torchvision
python-dotenv
ipykernel
streamlit

fastapi
uvicorn
sse_starlette
pydantic

arxiv 
wikipedia